.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
}
.info-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: #333 solid 2px;
    
}
.clock-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 6px;
}
.clock {
    font-size: 10rem;
    letter-spacing: -2px;
    line-height: 1;
    margin-bottom: 20px;

}
.timezone-select {
    font-size: 1.5rem;
    padding: 10px 20px;
}
.ticker-wrapper-news {
    display: flex;
}